@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  width: 2px;
  background: rgb(49, 26, 252);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(93, 75, 253);
}

.box3 {
  /* margin: 50px auto; */
  border-radius: 15px;
 
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right : 20px;
  padding-left: 20px;
  position: relative;
}


.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #fdba74;
  border-right: 15px solid transparent;
  border-top: 15px solid #fdba74;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}


/* speech bubble 14 */

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e5e7eb;
  border-top: 15px solid #e5e7eb;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

